<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<body>
  <div id="container" class="container w-100 vh-100">
    <%- partial('_partial/header', null, { cache: !config.relative_link }) %> 
    <section id="main" class="main">
      <div class="main-left-wrapper"><%- partial('_partial/main-left', null, { cache: !config.relative_link }) %></div>
      <div id="main-container" class="main-container"><%- body %></div>
      <div class="main-right-wrapper"><%- partial('_partial/main-right', null, { cache: !config.relative_link }) %></div>
    </section>
    <%- partial('_partial/footer', null, { cache: !config.relative_link }) %> 
  </div>

  <script>
    function initScroll () {
      const doc = document.documentElement
      const pageHeight = doc.offsetHeight
      const clientHeight = doc.clientHeight
      NProgress.configure({
        parent: 'body',
        showSpinner: false,
        minimum: 0,
      })
      document.addEventListener('scroll', () => {
        const scrollTop = doc.scrollTop
        let ratio = scrollTop / (pageHeight - clientHeight)
        ratio = ratio > .99 ? .99999 : ratio
        NProgress.set(ratio)
      })
    }

    window.onload = function () {
      initScroll()
    }
    
    // 对所有链接跳转事件绑定pjax容器container
    $(document).pjax('a[target!=_blank]', '#main-container', {fragment:'#main-container', timeout:8000})
    $(document).on('pjax:complete', function() {
      initScroll()
    })
  </script>
</body>
</html>