<head>
  <meta charset="utf-8">
  <%
    const baseTitle = config.title
    const pageTitle = page.title || '小站首页'
    const title = baseTitle + ' | ' + pageTitle
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="<%- url_for('css/public.css') %>" />
  <link rel="stylesheet" href="<%- url_for('css/layout.css') %>" />
  <link rel="stylesheet" href="<%- url_for('css/iconfont.css') %>" />
  <link rel="stylesheet" href="<%- url_for('css/nprogress.css') %>" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css" />
  <link rel="shortcut icon" href="<%- url_for('imgs/shortcut-icon.ico') %>" type="image/x-icon">
  
  <script src="<%- url_for('js/nprogress.js') %>"></script>


  <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
  <script>
    document.title = `<%- title %>`
  </script>
</head>